<style> body {background-color:pink};<style>
    
<style>
h1{color:black}  
    h2{font-size 0.5em;}
    #one{font-weight: bold;}
    #one{line-height: 1.5em;}
h3 {text-align: center;}
#praias{color=rgb:blue ;}
margem: 15px 0px 10px 6px;
<style>
.viagem{color:red;}
</style>
</style><body>

<style>
#love{color=rgb: red ;}
    body {font-size:20px ;}
    < h3> <span id="love"> venha ver </span> </h3>
    
   
    
</style>